.main {
  height: 100%;
}
.container {
  display: flex;
  height: calc(100% - 5rem);
  overflow: hidden;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}
.option {
  flex: 1;
  border-top: 1px solid #505050;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

