<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <% include layout/head.ejs %>
</head>
<body>
    <% include layout/navbar.ejs %>
    <div class="container">
    </div>
    <% include layout/script.ejs %>
</body>
</html>
