.option-name {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.option-info {
  margin: 0;
  padding-top: 0.5rem;
}
.option-default {
  color: rgb(251, 73, 52);
  padding-left: 1rem;
}

/* came from https://github.com/olton/Metro-UI-CSS/blob/master/less/inputs.less */ 
.switch-original {
  display: inline-block;
  margin: 0 .625rem 0 0;
  
  input {
    position: absolute;
    opacity: 0;
    width: 0.0625rem;
    height: 0.0625rem;
  }
  
  .check, .caption {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
  }
}

.switch-original {
  .caption {
    margin: 0 5px;
  }
  
  .check {
    position: relative;
    height: 1.125rem;
    width: 2.8125rem;
    outline: 2px #a6a6a6 solid;
    border: 1px #fff solid;
    cursor: pointer;
    background: #A6A6A6;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
  }
  
  .check:after {
    position: absolute;
    left: -1px;
    top: -2px;
    display: block;
    content: "";
    height: 1rem;
    width: .5625rem;
    outline: 2px #494949 solid;
    border: 3px #494949 solid;
    cursor: pointer;
    background: #494949;
    z-index: 2;
    transition: all 0.2s linear;
  }
  
  input[type="checkbox"]:focus ~ .check {
    outline: 1px #999999 dotted ;
  }
  
  input[type="checkbox"]:checked ~ .check {
    background: #008287;
    &:after {
      left: auto;
      -webkit-transform: translateX(2rem);
      transform: translateX(2rem);
      transition: all 0.2s linear;
    }
  }
  
  input[type="checkbox"]:disabled ~ .check {
    background-color: #e6e6e6;
    border-color: #fff;
	&:after {
      background-color: #494949;
      outline-color: #494949;
      border-color: #494949;
    }
  }
}

