.header {
    display: flex;
    align-items: center;
	height: 5rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: -1px;
}

.nav-logo {
	padding-left: 1rem;
    img {
        height: 3rem;
    }
}
