.header {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: #3F3F3F;
  border-bottom: 1px solid #262626;
  margin-top: -1px;
}

.nav-logo {
  padding-left: 1rem;
  img {
    height: 3rem;
  }
}
