.menubar {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 200px;
  background-color: #3F3F3F;
  border-top: 1px solid #505050;
  border-right: 1px solid #505050;
}

.menubar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.sitemap {
  > ul {
    padding: 0;
    > li {
      list-style: none;
      padding-bottom: 0.5rem;
      font-weight: bold;
      > a {
        font-size: 1.1rem;
        color: #BBB;
        text-decoration: none;
      }
    }
  }
}

